
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'style.css') }}" media="screen" />
        <title>Website Template: Freshmade Software (demo)</title>
    </head>

    <body id="top">

    <div id="header-wrapper">
        <div id="header-wrapper-2">
            <div class="center-wrapper">

                <div id="header">

                    <div id="logo">
                        <h1 id="site-title"><a href="#">Blockchain-enabled <span>Notarization</span></a></h1>
                        <h2 id="site-slogan">Provide notarial services based on blockchain</h2>
                    </div>

                    <div id="help-wrapper">
                        <div id="help">

                            <a href="#">Contact us</a> <span class="text-separator">|</span> <a href="#">F.A.Q</a> <span class="text-separator">|</span> <a href="#">Sitemap</a>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="navigation-wrapper">
        <div id="navigation-wrapper-2">
            <div class="center-wrapper">

                <div id="navigation">

                    <ul class="tabbed">
                        <li><a href="../">Home</a></li>
                        <li><a href="account">Wallet</a></li>
                        <li><a href="notarization">Notarization</a></li>
                        <li class="current_page_item"><a href="chain">Blockchain</a></li>
                        <li><a href="management">Management</a></li>
                        <li><a href="empty_page.html">Empty Page</a></li>
                    </ul>

                    <div class="clearer">&nbsp;</div>

                </div>

            </div>
        </div>
    </div>

    <div id="content-wrapper">
        <div class="center-wrapper">
            <div class="content" id="content-two-columns">
                <div id="main-wrapper">
                    <div id="main">

    <h2>Block Header</h2>

					<table class="data-table">
						<tr class="even">
							<td>Index</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Previous Hash</td>
							<td>3fed5cf7044413815c3651f8babeef749a668451579964e78ec0f28acdfcb8e9</td>
						</tr>
						<tr class="even">
							<td>Proof</td>
							<td>119678</td>
						</tr>
						<tr>
							<td>State Root</td>
							<td>181750860f76b9d94e69d9567a23aa69f4e97c5b2c54f3232a547ae16e75ef4d</td>
						</tr>
						</tr>
						<tr>
							<td>Receipt Root</td>
							<td>054214ed850d3fede9a0b265e61a6345bb09787fe61f8e80231dda700a26afea</td>
						</tr>
						</tr>
						<tr>
							<td>Transaction Root</td>
							<td>054214ed850d3fede9a0b265e61a6345bb09787fe61f8e80231dda700a26afea</td>
						</tr>
						</tr>
						<tr>
							<td>Timestamp</td>
							<td>1673442517.4400344</td>
						</tr>
					</table>
					
					<div class="archive-separator"></div>
					
					<form method="get" action="/chain">
                        <div class="form-value"><input type="submit" class="button" value="Back to Chain" /></div>
                        <div class="clearer">&nbsp;</div>
                    </form>
					
					
                        </div>

                    </div>
                </div>
                <div class="clearer">&nbsp;</div>
            </div>
        </div>
    </div>

    <div id="footer-wrapper">

        <div class="center-wrapper">
    
            <div id="footer">
    
                <div class="left">
                    <a href="../">Home</a> <span class="text-separator">|</span> <a href="account">Wallet</a> <span class="text-separator">|</span> <a href="notarization">Notarization</a> <span class="text-separator">|</span> <a href="chain">Blockchain</a> <span class="text-separator">|</span> <a href="management">Management</a>
                </div>
    
                <div class="right">
                    <a href="#">Top ^</a>
                </div>
    
                <div class="clearer">&nbsp;</div>
    
            </div>
    
        </div>
    
    </div>
    
    <div id="bottom">
    
        <div class="center-wrapper">
    
            <div class="left">
                &copy; 2023 Blockchain-enabled Notarization Platform <span class="text-separator">|</span> <a href="https://www.gla.uestc.edu.cn/">Glasgow College, UESTC</a> <span class="text-separator">|</span> <a href="#">Final Year Project by Chenxiao Guo</a>
            </div>
    
            
    
            <div class="clearer">&nbsp;</div>
    
        </div>
    
    </div>

    </body>
    </html>

    