<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'style.css') }}" media="screen" />
	<title>Website Template: Freshmade Software (demo)</title>
</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="#">Blockchain-enabled <span>Notarization</span></a></h1>
					<h2 id="site-slogan">Provide notarial services based on blockchain</h2>
				</div>

				<div id="help-wrapper">
					<div id="help">

						 <a href="#sitemap">Sitemap</a> <span class="text-separator">|</span> <a href="#faq">F.A.Q</a> <span class="text-separator">|</span> <a href="#contact">Contact us</a>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">

			<div id="navigation">

				<ul class="tabbed">
					<li class="current_page_item"><a href="">Home</a></li>
					<li><a href="account">Wallet</a></li>
					<li><a href="notarization">Notarization</a></li>
					<li><a href="chain">Blockchain</a></li>
					<li><a href="management">Administration</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="content-wrapper">
	<div class="center-wrapper">

		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">
					<h2>Be<span>Notarization</span></h2>
					<div class="content-separator"></div>
					<div class="left" style="width: 520px">

						<p class="larger">Blockchain Technology is applied to this notarization platform to provide available and reliable notarial service.</p>

						<p><img src="{{ url_for('static', filename = 'welcome.png') }}" width="513" height="284" alt="" /></p>


					</div>
					<div class="right">

					</div>

					<div class="clearer">&nbsp;</div>


				</div>
			</div>

			<div id="main">
				<h1>Applicable Scenario</h1>
				<div class="content-separator"></div>
				<div class="separator-vertical">

					<div class="col2 left">
						<h2 class="left">Bilateral contracts</h2>

						<div class="clearer">&nbsp;</div>
						<p class="large">If A and B have made a bilateral contract, our platform can provide notarization for the contract. Each of them can make a promise to the other with the content of the contract and their signatures. Then, these promises will be packed in a block in the blockchain as a transaction. Everyone can look up these promises to ensure the contract is valid, which will be a reliable evidence if anyone contravenes the contract. </p>

						<div class="content-separator"></div>

						<h2 class="left">Receipts for loans</h2>
<!--						<div class="right more large"><a href="#">All Products &#187;</a></div>-->

						<div class="clearer">&nbsp;</div>
						<p class="large">If A has lent something to B, our platform can provide notarization for the loan. B needs to make a promise to A with its signature to verify that it has gotten something from A. Then, this promise will be packed in a block in the blockchain as a transaction. Everyone can look up this promise to ensure it is valid, which will be a reliable evidence if conflict happens. </p>

						<div class="clearer">&nbsp;</div>

					</div>

					<div class="col2 right">

						<h2 class="left">Services promises</h2>
						<div class="clearer">&nbsp;</div>
						<p class="large">If B has promised to provide long term services to A like product warranty, our platform can provide notarization for them. B needs to make a promise to A with the content of service and its signature. Then, this promise will be packed in a block in the blockchain as a transaction. Everyone can look up this promise to ensure it is valid, which will be a reliable evidence if conflict happens. </p>


						<div class="content-separator"></div>

						<h2 class="left">Deposit</h2>
						<div class="clearer">&nbsp;</div>
						<p class="large">If A has paid deposit to B for something, our platform can provide notarization for it. B needs to make a promise to A with its signature to verify the deposit and future deliverables. Then, this promise will be packed in a block in the blockchain as a transaction. Everyone can look up this promise to ensure it is valid, which will be a reliable evidence if conflict happens. </p>

					</div>

					<div class="clearer">&nbsp;</div>

				</div>
				<div class="clearer">&nbsp;</div>
				<br>
				<br>

				<a name="sitemap"></a>
				<h1>Sitemap</h1>
				<div class="clearer"> </div>
				<div class="content-separator"></div>
				<img src="{{ url_for('static', filename = 'wallet.png') }}" width="64" height="64" alt="" class="left bordered" />

				<h3><a href="account">Wallet</a></h3>

				<p class="large">This place is for users to create new wallets, meanwhile, their address and private key will be shown. Also, users can check their balance with their address. </p>

				<div class="clearer">&nbsp;</div>

				<div class="content-separator"></div>

				<img src="{{ url_for('static', filename = 'notarization.png') }}" width="64" height="64" alt="" class="left bordered" />

				<h3><a href="notarization">Notarization</a></h3>

				<p class="large">This place is for users to make promise with elements of sender address, recipient address, balance to pay, content and sender's private key. Then, after creating the transaction, hash of the transaction will be generated and users can use it to check the transaction. </p>

				<div class="clearer">&nbsp;</div>

				<div class="content-separator"></div>

				<img src="{{ url_for('static', filename = 'blockchain.png') }}" width="64" height="64" alt="" class="left bordered" />

				<h3><a href="chain">Blockchain</a></h3>

				<p class="large">The entire chain is shown here, and detail information of each block can also be check. </p>

				<div class="clearer"> </div>
				<div class="content-separator"></div>

				<img src="{{ url_for('static', filename = 'administration.png') }}" width="64" height="64" alt="" class="left bordered" />

				<h3><a href="management">Administration</a></h3>

				<p class="large">Only administrator have the certification to administrate the blockchain. </p>

				<div class="clearer"> </div>
				<br>
				<br>

				<a name="faq"></a>
				<h1>F.A.Q</h1>
				<div class="clearer"> </div>
				<div class="content-separator"></div>
				<br>
				<br>

				<a name="contact"></a>
				<h1>Contact us</h1>
				<div class="clearer"> </div>
				<div class="content-separator"></div>
				<h4>Chenxiao Guo</h4>
				<h4>Glasgow College, UESTC</h4>
				<h4>2510950G@student.gla.ac.uk</h4>
			</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer">

			<div class="left">
				<a href="../">Home</a> <span class="text-separator">|</span> <a href="account">Wallet</a> <span class="text-separator">|</span> <a href="notarization">Notarization</a> <span class="text-separator">|</span> <a href="chain">Blockchain</a> <span class="text-separator">|</span> <a href="management">Management</a>
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2023 Blockchain-enabled Notarization Platform <span class="text-separator">|</span> <a href="https://www.gla.uestc.edu.cn/">Glasgow College, UESTC</a> <span class="text-separator">|</span> <a href="#">Final Year Project by Chenxiao Guo</a>
		</div>

		

		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>
