<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'style.css') }}" media="screen" />
	<title>Website Template: Freshmade Software (demo)</title>
</head>

<body id="top">

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title"><a href="#">Blockchain-enabled <span>Notarization</span></a></h1>
					<h2 id="site-slogan">Provide notarial services based on blockchain</h2>
				</div>

				<div id="help-wrapper">
					<div id="help">

						<a href="#">Contact us</a> <span class="text-separator">|</span> <a href="#">F.A.Q</a> <span class="text-separator">|</span> <a href="#">Sitemap</a>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">

			<div id="navigation">

				<ul class="tabbed">
					<li><a href="../">Home</a></li>
					<li><a href="account">Wallet</a></li>
					<li><a href="notarization">Notarization</a></li>
					<li><a href="chain">Blockchain</a></li>
					<li class="current_page_item"><a href="management">Management</a></li>
					<li><a href="empty_page.html">Empty Page</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="subnav-wrapper">
	<div id="subnav-wrapper-2">

		<div class="center-wrapper">

			<div id="subnav">

				<ul class="tabbed">
					<li class="current_page_item"><a href="#currentNode">Current Node</a></li>
					<li><a href="#addNode">Add Node</a></li>
					<li><a href="#resolve">Resolve Conflict</a></li>
					<li><a href="#changeBasecoin">Change Basecoin</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>

<div id="content-wrapper">
	<div class="center-wrapper">

		<div class="content" id="content-two-columns">

			<div id="main-wrapper">
				<div id="main">
					<a name="currentNode">
						<h1>Current Node</h1>
						<h2><a>{{node}}</a></h2>

						<div class="archive-separator"></div>

						<form action="/changeNode" method="post">
							<fieldset>

								<div class="legend"><h2>Change Node</h2></div>

								<div class="form-row">

									<div class="form-property form-required">New Node</div>
									<div class="form-value"><input type="text" size="32" name="node" class="text" /></div>

									<div class="clearer">&nbsp;</div>

								</div>

								<div class="form-row form-row-submit">

									<div class="form-value"><input type="submit" class="button" value="Submit &#187;" /></div>

									<div class="clearer">&nbsp;</div>

								</div>
							</fieldset>
						</form>
					</a>
					<div class="archive-separator"></div>

					<a name="addNode">
						<h1>Add Node</h1>
						<form action="/addNode" method="post">
							<fieldset>

								<div class="form-row">

									<div class="form-property form-required">New Node</div>
									<div class="form-value"><input type="text" size="32" name="node" class="text" /></div>

									<div class="clearer">&nbsp;</div>

								</div>

								<div class="form-row form-row-submit">

									<div class="form-value"><input type="submit" class="button" value="Add &#187;" /></div>

									<div class="clearer">&nbsp;</div>

								</div>
							</fieldset>
						</form>
						<h2><a>{{add}}</a></h2>
					</a>

					<div class="archive-separator"></div>
					<a name="resolve">
						<h1>Resolve Conflict</h1>
						<form action="/resolve" method="get">
							<fieldset>
								<div class="form-row form-row-submit">

									<div class="form-value"><input type="submit" class="button" value="Resolve &#187;" /></div>

									<div class="clearer">&nbsp;</div>

								</div>
							</fieldset>
						</form>
						<h2><a>{{resolve}}</a></h2>
					</a>

					<div class="archive-separator"></div>
					<a name="changeBasecoin">
						<h1>Change Basecoin</h1>
						<form action="/changeBasecoin" method="post">
							<fieldset>

								<div class="form-row">

									<div class="form-property form-required">New Basecoin</div>
									<div class="form-value"><input type="text" size="32" name="node" class="text" /></div>

									<div class="clearer">&nbsp;</div>

								</div>

								<div class="form-row form-row-submit">

									<div class="form-value"><input type="submit" class="button" value="Change &#187;" /></div>

									<div class="clearer">&nbsp;</div>

								</div>
							</fieldset>
						</form>
						<h2><a>{{baseCoin}}</a></h2>
					</a>
				</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer">

			<div class="left">
				<a href="../">Home</a> <span class="text-separator">|</span> <a href="account">Wallet</a> <span class="text-separator">|</span> <a href="notarization">Notarization</a> <span class="text-separator">|</span> <a href="chain">Blockchain</a> <span class="text-separator">|</span> <a href="management">Management</a>
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2023 Blockchain-enabled Notarization Platform <span class="text-separator">|</span> <a href="https://www.gla.uestc.edu.cn/">Glasgow College, UESTC</a> <span class="text-separator">|</span> <a href="#">Final Year Project by Chenxiao Guo</a>
		</div>

		

		<div class="clearer">&nbsp;</div>

	</div>

</div>

</body>
</html>
